.nav-item__title {
    color: #F16D7F;
    text-transform: uppercase;
}

.nav-item__item:hover {
    color: red;
    cursor: pointer;
}

.nav-item__list {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: #6F6E6E;
}