.sales {
    margin-top: 63px;
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    height: 260px;
    width: 360px;
    background-color: $sales-bkg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sales__item--woman {
    background-image: url(../img/woman-sales.jpg);
}

.sales__item--man {
    background-image: url(../img/man-sales.jpg);
}

.sales__item--kids {
    background-image: url(../img/kids-sales.jpg);
}

.sales__item--shoes {
    width: 100%;
    max-height: 180px;
    margin: 30px 0 0 0;
    background-image: url(../img/shoes-sales.jpg);
}

.sales__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    ;
}

.sales__item-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: $sales-text-bkg;
    text-transform: uppercase;
}

@media (max-width: $desktop-width) {
    .sales__item {
        width: 32%;
    }
}

@media (max-width: $tablet-width) {
    .sales__item {
        width: 33%;
        height: 167px;
        background-size: cover;
    }

    .sales__item--shoes {
        width: 100%;
        max-height: 116px;
    }
}

@media (max-width: $mobile-width) {
    .sales__item {
        height: 247px;
        width: 343px;
        margin-bottom: 32px;
        background-size: cover;
    }

    .sales__item--shoes {
        margin: 0 0 0 0;
    }

    .sales__list {
        justify-content: center;
    }
}